{% extends 'layout_rightcolumn.html.twig' %}

{% block body_id 'member_edit' %}

{% block main %}
    <h1>{{ 'member.edit_member.title'|trans({'%name%': member.firstname }, 'messages') }}</h1>

    {{ form_start(form) }}

    <fieldset>
        <h3 class="title-border">{{ 'member.crud.form.personal'|trans  }}</h3>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.birthdate) }}
        {{ form_row(form.sex) }}
        {{ form_row(form.niss) }}
        {{ form_row(form.insurer) }}
    </fieldset>
    <div class="gap-20"></div>

    <fieldset>
        <h3 class="title-border">{{ 'member.crud.form.contact'|trans  }}</h3>
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.mobilePhone) }}
    </fieldset>
    <div class="gap-20"></div>

    <fieldset>
        <h3 class="title-border">{{ 'member.crud.form.address'|trans  }}</h3>
        {{ form_row(form.address.street) }}
        {{ form_row(form.address.streetNumber) }}
        {{ form_row(form.address.streetBox) }}
        {{ form_row(form.address.zipCode) }}
        {{ form_row(form.address.city) }}
        {{ form_row(form.address.country) }}
    </fieldset>
    <div class="gap-20"></div>

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section widget widget-user">
        <a href="{{ path('app_user_show') }}" class="btn btn-user btn-outline-primary">
            <i class="fa fa-user" aria-hidden="true"></i> {{ 'user.edit_user.action'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
