{% extends 'layout_rightcolumn.html.twig' %}

{% block title %}{{ 'user.reset_password.reset.title' |trans }}{% endblock %}

{% block body_id 'user_resetpassword_reset' %}

{% block main %}
    <h1>{{ 'user.reset_password.reset.title' |trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'user.reset_password.reset.action' |trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
