<div class="row">
    {% for piece in pieces %}
        <div class="col-sm-3 portfolio-static-item">
            <div class="grid">
                <a href="{{ path('app_clothes_piece_show', {'id': piece.id }) }}">
                    <figure class="m-0 effect-oscar">
                        {% if piece.image %}
                            <img src="{{ piece.image|e }}" alt="{{ piece.name|e }}">
                        {% else %}
                            <img src="http://placehold.jp/255x383.png?text=non%20disponnible" alt="{{ piece.name|e }}">
                        {% endif %}
                    </figure>
                </a>
                <div class="portfolio-static-desc">
                    <h3><a href="{{ path('app_clothes_piece_show', {'id': piece.id }) }}">{{ piece.name|e }}</a></h3>

                   <span>
                       <a href="#">
                           <img src="/bundles/easyadmin/images/flags/{{ piece.country }}.png" class="country-flag" style="height:25px" alt="{{ piece.country|country }}">
                           {{ piece.country|country }}
                       </a>
                   </span>
                </div>
            </div>
            <!--/ grid end -->
        </div>
        <!--/ item 1 end -->
    {% endfor %}
</div>
