{% extends 'layout.html.twig' %}

{% block banner_title %}{{ dance.name|e }}{% endblock %}
{% block title %}{{ dance.name|e }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12 heading">
            <span class="title-icon classic pull-left"><i class="fa fa-star"></i></span>
            <h2 class="title classic">
                {{ dance.name|e }}
                <small>{{ dance.country|country }} - {{ dance.region }}</small>
            </h2>
        </div>
        <div class="col-md-12">
            <p>{{ dance.description|raw }}</p>
        </div>
    </div>

    {% if dance.videosOfWorkShop|length > 0 %}
        <h3>Stages</h3>
        {% include 'video/_listing.html.twig' with { 'videos': dance.videosOfWorkShop } %}
        <br /><br />
    {% endif %}

    {% if dance.videosOfPerformance|length > 0 %}
        <h3>Vidéos</h3>
        {% include 'video/_listing.html.twig' with { 'videos': dance.videosOfPerformance } %}
        <br /><br />
    {% endif %}

{% endblock %}
